.Logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Logo__name {
    font-family:  'Trebuchet MS', sans-serif;
    margin-left: 10px;
    font-size: 14px;
}

.Logo__link {
    display: flex;
    margin-left: 10px;
    justify-content: flex-end;
    align-items: center;
}

.Logo__btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.Logo__nav {
    margin-left: 175px;
}